@media screen and (min-width: 1025px) {

    body {
        background-color: #f3f3f3;
    }

    #button-menu-hover {
        display: none;
    }

    nav>.menuList {
        display: flex;
        position: initial;
        justify-content: flex-end;
        background-color: #f3f3f3;
    }

    nav ul {
        padding-top: 0px;
        margin: initial;
        width: 100%;
        background-color: var(--nav-bg-color);
        text-align: center;
    }

    nav>ul li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }

    nav>ul>li>a {
        color: #000;
        font-weight: bold;
    }
}