/* format mobile */
html {
    font-size: 10px;
}

body {
    background-color: #f3f3f3;
    font-size: 1.6rem;
}

/* Variables */
:root {
    /* nav colors */
    --nav-bg-color:white;
    /* btn colors for headers */
 
--btn-color: white;
    --btn-bg-color:#e5007d;
}

/* Variables */

/* Header css style section */
/*background header  */
.subHeaderSection {
    background: url('../images/header_image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    align-content: center;
    flex-wrap: wrap;
    
}
/* set up title */
.subHeaderSection h1 {
    width: 100%;
    color: #f3f3f3;
    text-align: center;
    margin-top: -160px;
    font-size: 55px;
}

/* set up btns */
.subHeaderSection>a {
    text-decoration: none;
    color: #f3f3f3;
    border: 1px solid #f3f3f3;
    padding: 25px;
    margin: 3px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
/* set up btn devenir bénévole */
.subHeaderSection>a:last-child{
padding:25px 84px;
}


.subHeaderSection>a:hover {
    color: var(--btn-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
    box-shadow: 2px 2px 5px #aeaeae;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
/* logo*/
.imgContainer {
    margin: 0;
    padding: 0;
}

.imgContainer img {
    width: 100%;
    height: 72px;
    margin: 5px;
}
/* header set up  */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#button-menu-hover {
    background-color: #f3f3f3;
    width: 100%;
    height: 60px;
    font-size: 3.6rem;
    text-align: right;
    border: none;
}

#button-menu-hover>span {
    margin-left: 10px;
    font-size: 2.6rem;
}

nav ul {
    display: none;
    width: 100%;
    padding-left: 0;
    background-color: var(--nav-bg-color);
    text-align: center;
    position: absolute;
    top: 49px;
}

.show {
    display: initial;
}

nav>ul li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    list-style-type: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

nav ul li:hover {
    background-color: #aeaeae;
}

nav>ul li a {
    text-decoration: none !important;
    color: #fff;
}

.subHeaderSection {
    align-self: flex-end;
}

/* style Devenir Bénévole */
.benevolat,
.faireUnDon {
    text-align: center;
}

.benevolat>button,
.faireUnDon>button {
    font-size: 2.6rem;
    border: 1px solid #000;
    padding: 10px 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.benevolat>button:hover {
    background-color: #e5007d;
    border-color: #87cefa;
    color: #fff;
}

.faireUnDon>button {
    padding: 10px 80px;
}

.faireUnDon>button:hover {
    background-color: #e5007d;
    border-color: #87cefa;
    color: #fff;
}

/* Nos partenaires style section */

.nosPartenaires,
.faireUnDon,
.benevolat {
    margin-top: 40px;
}

.nosPartenaires {
    margin-bottom: 50px;
}

.nosPartenaires>h2 {
    text-align: center
}

.nosPartenaires article {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nosPartenaires>article>figure {
    max-width: 100%;
    height: 210px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nosPartenaires>article>figure:last-child {
    margin-top: 50px;
}





h2 {
    /* centrer tout mes titres */
    text-align: center;
    margin: 30px;

}

.box-actus {
    /* configuration des articles actus */
background-color: #e5007d;
    width: 400px;
    height: 110px;
    margin: 15px;
}


.section-actus,
#section-maps {
    width: 100%;
    height: 15cm;
    border: 1px solid #aeaeae;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}



#section-maps {
    display: flex;
}

iframe {
    /* map street centre */
    align-items: center;
    margin: 0px;
}

.section-actions {

    width: 100%;
    height: 15cm;
    background-color: rgb(248, 247, 247);
    margin: 10px;
}

.parent-box-action {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;


}

.section-actions article {
    width: 40%;
    height: 160px;
    background-color:lightgrey;
    margin: 10px;
}

/* footer css style section */

footer {
    width: 100%;
    background-color: #aeaeae;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

footer article {
    margin: 0;
    padding-bottom: 0;
}

#liens-réseaux-sociaux {
    width: 50%;
    margin: 0;
}

#liens-réseaux-sociaux p {
    padding-top: 0;
    display: flex;
    justify-content: space-around;
}

.fa-facebook-official,
.fa-twitter,
.fa-linkedin-square,
.fa-youtube-play {
    font-size: 3rem;
    color: #000;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.fa-facebook-official:hover {
    color: #3B5998;
}

.fa-twitter:hover {
    color: #00ACEE;
}

.fa-linkedin-square:hover {
    color: #0E76A8;
}

.fa-youtube-play:hover {
    color: #C4302B;
}

.subHeaderSection a{
    
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
}